@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');
@import "./custom.scss";
@import "~bootstrap/scss/bootstrap";

h1, h2, h3, p, a, label, button, .badge {
    font-family: 'Roboto Slab', serif;
}

a {
    text-decoration:none;
    box-shadow: inset 0 -2px 0 rgba($primarySiteColor, 0.8);
    color: $secondarySiteColor;
    transition: all 0.5s;

    &:hover {
        background: rgba($primarySiteColor, 0.3);
        text-decoration: none;
        color: $secondarySiteColor;
    }
}


body {
    background-color: $tertiarySiteColor !important;
}

.navbar {
    background-color: $secondarySiteColor;
    border-bottom: 1px solid $primarySiteColor;
}

.particle-header {
    height: 360px; 
    overflow: hidden;
    position: relative;
}

.particle-container {
    background-color: transparent;
    position: relative;
    color: $white;
    z-index: 4;
}

.get-in-touch {
    background-color: $secondarySiteColor;
    color: $white;
}

.footer {
    background-color: $primarySiteColor;
    color: $white;
}

.projects {
    background-color: $primarySiteColor;
    color: $white;
}

.project-image-wrapper {
    max-width: 760px;
    margin: auto;
}

.spacer {
    color: #BBB;
    width: 20px;
    display: inline-block;
    text-align: center;
}

.custom-shadow {
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
                0 2px 2px rgba(0,0,0,0.12), 
                0 4px 4px rgba(0,0,0,0.12), 
                0 8px 8px rgba(0,0,0,0.12),
                0 16px 16px rgba(0,0,0,0.12);
}

.project-card {
    color: $black;
    margin-bottom: 30px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

    &:hover {
        @extend .custom-shadow;
    }
}

.carousel-caption {
    background-color: rgba(0,0,0,0.4);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    padding: 15px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.4);
    background-size: 20px 20px;
}

.carousel-item img {
    border-radius: 5px;
    border: 1px solid $grey;
}

.tag {
    font-weight: 300;
    margin-right: 8px;
    height: 1.8em;
    line-height: 1.4em;
    margin-bottom: 8px
}

hr {
    border-color: $medium-grey;
}

.social {
    text-align: right;

    a {
        color: $secondarySiteColor;
        font-size: 28px;
        margin-left: 10px;
        box-shadow: none;

        svg {
            vertical-align: top;
        }

        &:hover {
            color: $primarySiteColor;;
            background: none;
        }
    }
}