$theme-colors: (
    "primary": #E63946,
    "danger": tomato,
);

$white: #FFF;
$grey: #DDD;
$light-grey: #EEE;
$black: #000;

$primarySiteColor: #457B9D;
$secondarySiteColor: #1D3557;
$tertiarySiteColor: #E7E4DF;

$mutedBackground: #C4AF9A;