$theme-colors: (
    "primary": #01BAEF,
    "danger": tomato,
);

$white: #FFF;
$grey: #DDD;
$light-grey: #EEE;
$black: #000;
$primarySiteColor: #01BAEF;
$secondarySiteColor: #0B4F6C;
$mutedBackground: #DDD;